* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgb(50, 135, 225);
  --secondary-color: rgb(59, 186, 255);
  --text-white: rgb(255, 255, 255);
  --text-dark: rgb(12, 12, 12);
  --bg-base: whitesmoke;
  --bg-danger: rgb(252, 66, 66);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  letter-spacing: -0.5px;
  font-size: xx-large;
}

nav {
  background-color: var(--primary-color);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

nav h1 {
  font-size: 1.5rem;
}

nav button {
  background-color: var(--secondary-color);
  color: var(--text-white);
}

main {
  padding: 20px 0;
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

footer {
  padding: 10px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

.text-white {
  color: var(--text-white);
}

.text-dark {
  color: var(--text-dark);
}

.text-center {
  text-align: center;
}

.btn {
  background-color: var(--bg-base);
  color: var(--text-dark);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  width: fit-content;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--text-white);
}

.btn-danger {
  background-color: var(--bg-danger);
  color: var(--text-white);
}

.btn:hover {
  cursor: pointer;
  text-decoration: none;
  filter: opacity(0.8);
}

.candidate-card-container {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.candidate-card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 305px;
  height: 430px;
}

.candidate-card img {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 3px;
}

.candidate-card-title {
  margin-top: 10px;
  text-overflow: wrap;
  text-align: center;
}

.candidate-card-desc {
  flex-grow: 1;
  margin-top: 10px;
  overflow: hidden;
  height: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.candidate-card-footer {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.candidate-card-footer button {
  background-color: var(--primary-color);
  color: var(--text-white);
  font-size: larger;
}

.login-form {
  margin-top: 20px;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  text-align: center;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.3s, transform 0.3s;
}

.modal.active {
  opacity: 1;
  transform: scale(1);
}

.btn-modal {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group {
  margin-bottom: 20px;
}