<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/public/style.css">
  <link rel="stylesheet" href="/public/admin.css">
</head>
<body>
  <nav>
    <a href="/dashboard" class="btn" style="z-index: 10;">Dashboard</a>
    <a href="/elections" class="btn">Elections</a>
    <a href="/users" class="btn">Users</a>
  </nav>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>