<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="/public/style.css">
  <link rel="stylesheet" href="/public/admin.css">
</head>

<body>
  {{ if .Message }}
  <div class="alert" id="autoCloseAlert">
    <p>{{ .Message }}</p>
  </div>
  <script>document.addEventListener("DOMContentLoaded", function () { var e = document.getElementById("autoCloseAlert"); e.classList.add("show-alert"), setTimeout(function () { e.style.display = "none" }, 2e3) })</script>
  {{ end }}
  <header>
    <h1>Elections</h1>
    <form action="/logout" method="post">
      <input type="hidden" name="csrf" value="{{ .csrf }}">
      <button type="submit" class="btn btn-danger">Logout</button>
    </form>
  </header>
  <main>
      <table id="elections">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Active</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
  </main>
  <nav>
    <a href="/dashboard">Dashboard</a>
    <a href="/admin/elections" class="active">Elections</a>
    <a href="/users">Users</a>
  </nav>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function () {
      // datatbles with data from api 
      $('#elections').DataTable({
        // Mengatur sumber data dari API endpoint "/datatable"
        ajax: "/api/elections",
        // Mengatur kolom-kolom yang akan ditampilkan
        columns: [
          { data: "name" },
          { data: "description" },
          { data: "is_active" },
          { data: "id", orderable: false, searchable: false, render: function (data) { return '<a href="/admin/elections/' + data + '">Edit</a>' } },
        ],
        // Mengatur urutan awal berdasarkan kolom pertama (ID) secara ascending
        order: [[0, "asc"]]
      });
    })
  </script>
</body>

</html>